[MASTER]

ignore=GIT
ignore-patterns=\.git
                \.vscode
                \.github
            

jobs=0


[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        no-self-use,
        not-callable


[REFACTORING]

max-nested-blocks=3

never-returning-functions=sys.exit

good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           fd
           id



[FORMAT]

max-line-length=120

[DESIGN]

min-public-methods=1

[MISCELLANEOUS]

notes=FIXME,XXX
