[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp=">=3.8.1"
yarl=">=1.7.2"
aiotractive = {editable = true, path = "."}

[dev-packages]
twine="3.4.1"
wheel=">=0.36.2"
pre-commit="4.5.1"
ruff="0.14.10"
typing_extensions=">=4.10.0"
tomli=">=2.1.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
