[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp=">=3.7.4"
yarl=">=1.6.3"

[dev-packages]
isort="==5.8.0"
pylint="==2.8.2"
flake8="==3.9.2"
black="==21.5b1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
